/* Copyright 2020 Stanford University see LICENSE for license */

// Color palette:
$nobel: #989898;
$reno-sand: #b26f16;
$orient: #00548f;
$solitude: #e8ecf4;
$spring-wood: #f8f6ef;
$bright-red: #b1020f;
$swirl: #d7cec4;
$pampas: #f7f4f1;
$white-linen: #f0eae1;
$vanilla: #d0c1a8;
$double-spanish-white: #cfc2a8;