/* Copyright 2020 Stanford University see LICENSE for license */

// Color palette:
$swirl: #d7cec4;
$pampas: #f7f4f1;
$dusty-gray: #979797;
$reno-sand: #b26f16;
$orient: #00548f;
$spring-wood: #f8f6ef;
$bright-red: #b1020f;
$vanilla: #d0c1a8;
