.editor-navbar {
  background-image: url("./editorheaderbg.png");
}

/** For header tabs **/
.editor-navtabs {
  color: #2f2424;
  /** top right bottom left **/
  margin: 0 5px -15px 5px;
  border: 0px;
  padding-bottom: 1em;
  margin-bottom: 1em;

  .nav-link.active {
    font-weight: 900;
    text-decoration: underline;
  }

  a.nav-link:hover {
    color: #2f2424;
  }

  .hover {
    background-color: transparent;
  }

  a {
    color: #2f2424;
    font-weight: 500;
    line-height: 1.2;
  }
}
