.editor-navbar {
  background-image: url("./editorheaderbg.png");
}

/** For header tabs **/
.navbar.editor-navtabs {
  color: #2f2424;

  a.nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0rem;
  }

  a.nav-link.active {
    font-weight: 900;
    text-decoration: underline;
  }

  a.nav-link:hover {
    color: #2f2424;
  }

  .hover {
    background-color: transparent;
  }

  a {
    color: #2f2424;
    font-weight: 500;
  }

  #searchType {
    width: 19rem; // So that we can fully display "Sinopia BIBFRAME instance resources"
  }
}
