 /* Copyright 2018 Stanford University see LICENSE for license */

.asterick-icon {
    margin-left: 3px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 10%;
}

pre {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
.banner {
  background-size: cover;
  background-image: url("home-background.png");
}

.btn-link {
  border-color: transparent !important;
}

.btn-linky {
  padding: 0px;
}

#editor-save {
  margin-left: 11px;
}

.btn-add, .btn-remove {
  background-image: none;
  border-style: dashed;
}

.panel-heading > .btn-add, .panel-heading > .btn-remove {
  float: right;
  margin-top: -5px;
  border-style: solid;
}

.btn-toggle {
  background-color: transparent;
}

.btn-literal {
  background-image: none;
}

.homepage-navbar {
  padding-bottom: 2% ;
  padding-top:2%;
}

.info-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.panel-news {
  margin: 3% 10%;
  padding: 2%;
  opacity:0.85;
  box-shadow: -3px 3px 10px 0px #999999;
}
.jumbotron h1{
  font-size: 30px;
}

.ResourceTemplateForm {
  column-count: 2;
}

/* This prevents one card from breaking in the middle. https://blog.room34.com/archives/5454 */
.ResourceTemplateForm > * {
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .ResourceTemplateForm {
    column-count: 1;
  }
}

.desc-panel{
  padding: 0 10%;
  margin-bottom: 10%;
}
.desc-panel h4 {
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 2%
}
.desc-panel p {
  font-size: 13.5px;
}
#footer {
  float: right;
  padding: 3% 10% 0 3%;
}
.header-text{
  font-size:15px;
}
.offcanvas-menu{
  background-color: rgb(55,66,79);
  height: 100%;
}
.offcanvas-menu a{
  color: white;
}
.closeMargin{
  margin-right: -12.5%;
}

.prop-heading {
  background-color: #8C8A83 !important;
  color: white !important;
}

.prop-heading > span {
  padding: 5px;
  margin: 4px;
}

.panel-property {
  border-color: #8C8A83;
  border-style: solid;
  border-width: 1px;
  background-color: #F8F6EF;
  break-inside: avoid;
}

.group-panel {
  border-color: #8C8A83;
  border-style: solid;
  border-width: 1px;
  background-color: #F8F6EF;
  min-height: 200px;
  padding: 80px;
}

.group-choose-buttons {
  float: right;
  position: relative;
  top: 40px;
}

.group-select-label {
  float: left;
  padding-right: 20px;
  position: relative;
  /*top: 58px;*/
}

.group-select-options {
  position: relative;
  /*top: 70px;*/
}

.menu-item{
  margin-left: 1.4em;
}
.close-icon{
  font-size: 1.6em;
  margin-top: 10%;
  margin-right: 10%;
  color: white;
  float: right;
}

.rtOutline a {
  color: rgb(51, 51, 51);
}

.rOutline-property {
  margin: .5em;
  border: 1px dotted;
  background-color: white;
  margin: .5em;
  padding: .25em;
}

/* .rOutline-property div {
  padding-left: .5em;
} */

.arrow-icon{
  color: white;
  font-size: 1.2em;
}
.editor-navbar{
  background-image: url('./editorheaderbg.png');
  padding-bottom: 1em;
  height: 9.75em;
  margin-bottom: 1em;
}
.editor-header-text{
  font-size: .85em;
}
a.editor-help-resources {
  font-size: .85em;
}
#footer-text{
  padding-left: 10%;
}
h1.editor-logo {
  text-decoration: none;
  font-family: "Copperplate Gothic Light";
  font-size: 3.5em;
  color: #2F2424;
  margin-top: 5px;
  padding-left: 25px;
}

h2.editor-subtitle {
  font-size: 1.2em;
  margin-bottom: 5px;
  display: inline;
}
h2.editor-version {
  font-size: 0.9em;
  margin-bottom: 5px;
  display: inline;
}

a.prop-remark {
  text-decoration: none;
  color: white;
}

 .rOutline-header a.prop-remark {
  text-decoration: none;
  color: black;
}

span.prop-remark {
  border-width: thin;
  border-bottom-style: dashed !important;
}

a.editor-subtitle {
  text-decoration: none;
  font-family: "Copperplate Gothic Light";
  color: #2F2424 !important;
  padding-left: 25px;

}

input.rbt-input-main {
  min-width: 300px;
}
 .rdf-modal-content {
  padding: 20px 25px 20px 20px;
}

/** For header tabs **/
.editor-navtabs {
    /* margin-bottom:-15px; */
    font-size: 1.5em;
    color: #2F2424;
    /** top right bottom left **/
    margin:0 5px -15px 5px;
    border:0px;
}

.editor-navtabs .active {
    background-color:#fff; /** Based on body background-color color **/
}

.editor-navtabs .hover {
    background-color:transparent;
}

.editor-navtabs a {
    color: #2F2424;
}

/** For lookup menu headers **/
.dropdown-header {
	font-weight:800;
	color:#333;
	background-color:#d3d3d3;
}
.dropdown-empty, .dropdown-error {
	font-weight:400;
	 color: #999999;
}
/** For typeahead discogs context**/
.context-result {
        padding: 4px 2px 2px 5px;
}
.context-result-bg {
        background-color: #fff;
}
.context-result-alt-bg {
        background-color: #ede7d4;
}
.context-label {
      font-weight: bold;
      font-size: 18px;
      padding-left: 5px;
}
.context-heading {
      margin: 0 -15px;
      padding: 8px 0 4px 8px;
      background-color: #ccc;
}
.context-label-dropdown {
  font-weight:bold;
  padding-left:5px;
}
.context-field {
  font-style: italic;
}

.discogs-container {
  padding: 0 0 4px 3px;
}

.details-container {
  padding: 0 0 0 8px;
  white-space: normal;
}

.image-container {
  width: 50px;
  overflow: hidden;
  padding: 3px 0 0;
  text-align: center;
}

.discogs-image-style {
  width: 100%;
  margin-right: 10px;
  vertical-align: top;
}

.type-span {
  padding-left: 8px;
}

th.sinopia {
  background-color: #F8F6EF;
}
