 /* Copyright 2018 Stanford University see Apache2.txt for license */

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 10%;
}
.banner {
  background-size: cover;
  background-image: url("home-background.png");
}
.homepage-navbar {
  padding-bottom: 2% ;
  padding-top:2%;
}
.panel {
  margin: 3% 10%;
  padding: 2%;
  opacity:0.85;
  box-shadow: -3px 3px 10px 0px #999999;
}
.jumbotron h1{
  font-size: 30px;
}
.desc-panel{
  padding: 0 10%;
  margin-bottom: 10%;
}
.desc-panel h4 {
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 2%
}
.desc-panel p {
  font-size: 13.5px;
}
#footer {
  float: right;
  padding: 3% 10% 0 3%;
}
.header-text{
  font-size:15px;
}
.offcanvas-menu{
  background-color: rgb(55,66,79);
  height: 100%;
}
.offcanvas-menu a{
  color: white;
}
.closeMargin{
  margin-right: -12.5%;
}
.menu-item{
  margin-left: 1.4em;
}
.close-icon{
  font-size: 1.6em;
  margin-top: 10%;
  margin-right: 10%;
  color: white;
  float: right;
}
.arrow-icon{
  color: white;
  font-size: 1.2em;
}
.editor-navbar{
  background-image: url('./editorheaderbg.png');
  padding-bottom: 1em;
}
.editor-header-text{
  font-size: .85em;
}
a.editor-help-resources {
  font-size: .85em;
}
#footer-text{
  padding-left: 10%;
}
h1.editor-logo {
  text-decoration: none;
  font-family: "Copperplate Gothic Light";
  font-size: 3.5em;
  color: #2F2424;
  margin-top: 5px;
  padding-left: 25px;
}

h2.editor-subtitle {
  font-size: 1.2em;
  margin-bottom: 5px;
}

a.prop-remark {
  text-decoration: none;
}

span.prop-remark {
  border-width: thin;
  border-bottom-style: dashed !important;
  color: #2F2424;
}

a.editor-subtitle {
  text-decoration: none;
  font-family: "Copperplate Gothic Light";
  color: #2F2424 !important;
  padding-left: 25px;

}

input.rbt-input-main {
  min-width: 300px;
}
 .rdf-modal-content {
  padding: 20px 25px 20px 20px;
}
