/* Copyright 2019 Stanford University see LICENSE for license */

@import "colors";
@import "bootstrap-variables";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootstrap-override";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.left-space {
  margin-left: 3px;
}

.invalid-feedback {
  padding-left: 1.5em;
  background-image: escape-svg($form-feedback-icon-invalid);
  background-repeat: no-repeat;
  background-position: left 0 center;
  background-size: $input-height-inner-half $input-height-inner-half;
}

.banner {
  background-size: cover;
  background-image: url("home-background.png");
}

.editor-save {
  margin-left: 11px;
}

.btn-add,
.btn-remove {
  background-image: none;
  border-style: dashed;
}

.panel-heading > .btn-add,
.panel-heading > .btn-remove {
  float: right;
  margin-top: -5px;
  border-style: solid;
}

.btn-toggle {
  background-color: transparent;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.btn-literal {
  background-image: none;
}

.btn-filter {
  background-color: $white;
}

.homepage-navbar {
  padding-bottom: 2%;
  padding-top: 2%;
}

.info-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.panel-news {
  margin: 3% 10%;
  padding: 2%;
  opacity: 0.85;
  box-shadow: -3px 3px 10px 0px #999999;
}

.desc-panel {
  padding: 0 10%;
  margin-bottom: 10%;
}

.desc-panel h3 {
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 2%;
}

#footer {
  float: right;
  padding: 3% 10% 0 3%;
}

.offcanvas-menu {
  background-color: rgb(55, 66, 79);
  height: 100%;
}

.offcanvas-menu a {
  color: white;
}

.closeMargin {
  margin-right: -12.5%;
}

.template {
  .prop-heading {
    background-color: $reno-sand !important;
  }
}

.prop-heading {
  background-color: $prop-heading-bg !important;
  color: $prop-heading-color !important;
  padding: 1rem 1rem 0 1rem;

  .tooltip-heading,
  .prop-remark {
    color: $heading-icon-color;
  }
}

.panel-property {
  background-color: $prop-panel-bg;
  break-inside: avoid;
  padding: 1rem;
}

.nested-resource {
  background-color: $white-linen;
  padding: 1rem;
  margin-bottom: 1rem;
}

.close-icon {
  font-size: 1.6em;
  margin-top: 10%;
  margin-right: 10%;
  color: white;
  float: right;
}

.rOutline-property {
  margin: 0.5em;
  border: 1px dotted;
  background-color: white;
  margin: 0.5em;
  padding: 0.25em;
}

#footer-text {
  padding-left: 10%;
}

.editor-logo {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Copperplate Gothic Light";
  color: #2f2424;
  margin-top: 5px;
  padding-left: 25px;
  margin-bottom: 0px;
}

.open-search-modal {
  width: 2rem;
}

.input-value {
  margin-top: 0.25em;
}

.rdf-modal-content {
  padding: 20px 25px 20px 20px;
}

@import "header";
@import "lookupContext";
@import "language";

/** For lookup menu headers **/
.dropdown-header {
  font-weight: 800;
  color: #333;
  background-color: #d3d3d3;
}

.dropdown-empty,
.dropdown-error {
  font-weight: 400;
  color: #999999;
}

.dropdown-item.active {
  color: #000000;
}

button.collapse-heading {
  position: relative;
}

button.collapse-heading::before {
  content: "â¯";
  position: absolute;
  left: -5px;
  transform: rotate(90deg);
}

button.collapse-heading.collapsed::before {
  transform: rotate(0deg);
  transition: transform 0.1s ease;
}

.btn-add-property {
  @extend .btn-link;
}

.btn-no-outline {
  border: 0px;
  box-shadow: none !important;
  margin-right: 0px;
}

.btn-no-outline.btn-danger {
  background-color: transparent;
  color: $bright-red;
}

.separator-circle {
  margin-top: 0.4em;
  color: #004372;
}

.editor-action-close {
  margin-left: 1em;
}

@import "resourceTabs";
@import "resourceNav";
@import "diff";
@import "relationships";
@import "resourceEditor";

.icon-lg {
  font-size: 20px;
}

.btn-nested-resource {
  padding-left: 2px;
  padding-right: 2px;
}

.btn-view-resource {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
  background-color: $link-color;
  border-color: $link-color;
}

.view-resource-buttons {
  padding-right: 20px;
}

.view-resource-modal-footer {
  margin-right: 15px;
}

.view-resource-modal-content {
  overflow-x: hidden;
}

.lookup-value {
  background-color: $lookup-value-bg;
  font-weight: bold;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px 10px 15px;

  span {
    padding: 5px 12px 5px 12px;
    border-right: 1px solid $lookup-value-border;
  }

  button {
    border: none;
    padding: 5px 12px 5px 12px;
    color: $orient;
    background-color: $lookup-value-bg;
  }
}

.search-list,
.resource-template-list,
.search-results-list,
.resource-list {
  thead {
    background-color: $double-spanish-white;
  }
}

.input-group {
  width: 100% !important;

  .input-group-btn {
    margin-left: 5px;
  }
}

.hidden {
  display: none;
}

// Async typeahead
div.rbt div {
  display: block !important;
}

.expanding-section {
  border-color: $nobel;
  background-color: $solitude;
}

.modal-open {
  overflow: hidden;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
}

.rdf-display-panel {
  background-color: $greyblue;
  border: 1px solid #979797;
  padding: 1rem;
  margin-bottom: 1rem;
}

.rdf-display-panel table th {
  background-color: $greyblue;
}

.rdf-display-panel table td {
  background-color: $greyblue;
}

.search-relationship {
  h5 {
    font-weight: bold;
    font-size: var(--bs-body-font-size);
  }

  .table > :not(:first-child) {
    border-top: 2px dotted currentColor;
  }
}

td.search-no-border {
  border: none;
}

.search-no-bottom-border {
  border-bottom: none;
}

.search-no-top-border {
  border-top: none;
}
