.banner {

  background-size: cover;
  background-image: url("home-background.png");
  /*margin: 0 19%;*/
}
.navbar {
  /*margin: 0 19%;*/
  /*border-style: solid;*/
   /*border-width: 10px;*/
   /*border-color: black;*/
  /*margin-bottom: 50px;*/
  padding-bottom: 2% ;
  padding-top:2%;
}
body {
  margin: 0 10%;
}
.panel {
  margin: 3% 10%;
  padding: 2%;
  opacity:0.7;
}
.jumbotron h1{
  font-size: 35px;
}
.desc-panel{
  padding: 0 10%;
}
.desc-panel h4{
  font-weight: 600;
}