.resources-nav-tabs {
  $tab-width: 275px;
  $tab-height: 35px;
  $button-width: 36px;

  margin-bottom: 5px;
  margin-top: 10px;

  .nav-item {
    border: 1px solid $gray-600;
    margin-bottom: 5px;
    margin-right: 10px;
    height: $tab-height;
    width: $tab-width;

    .tab-link {
      border: 0;
      border-radius: 0;
      color: $gray-600;
      display: inline-block;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 5px;
      width: $tab-width - $button-width;
    }
  }

  .nav-item.active {
    border: 0;
    background-color: $resource-tab-active-bg;

    .tab-link {
      color: $white;
      font-weight: 600;
    }
  }
}
