.resource-header {
  background-color: $body-bg;
}

.sticky-resource-header {
  @extend .sticky-top;
  background-color: $body-bg;
  h3 {
    font-size: 1.5rem;
  }
}

.property-uri {
  font-style: italic;
  font-size: 85%;
}
