.left-nav {
  .resource-nav-list-group {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    padding: 0.375rem;

    & > ul {
      padding-left: 0;
    }

    // Templates have a different color than
    .template {
      .btn-primary {
        background-color: $reno-sand;
        border-color: $reno-sand;
      }
    }

    li {
      list-style-type: none;
    }

    .left-nav-header {
      display: inline;
      margin-right: 0.4em;
    }

    .current {
      color: $body-color;
    }

    .property-nav {
      @extend .btn;
      color: $link-color;
      padding: 0.25rem 0.25rem 0.25rem 0.25rem;
      text-align: left;
      h5 {
        font-weight: bold;
      }
    }

    .fa-circle {
      font-size: 60%;
    }
  }
}
