.resources-nav-tabs {
  $tab-width: 345px;
  $tab-height: 35px;
  $button-width: 36px;
  $badge-width: 70px;

  margin-bottom: 5px;
  margin-top: 10px;

  .nav-item {
    border: 1px solid $gray-600;
    margin-bottom: 5px;
    margin-right: 10px;
    height: $tab-height;
    width: $tab-width;

    .tab-link {
      display: inline-block;
      border: 0;
      border-radius: 0;
      color: $gray-600;
      text-decoration: none;
      margin: 5px;

      .resource-label {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: $tab-width - $button-width - $badge-width;
      }

      .badge {
        vertical-align: top;
      }
    }
  }

  .nav-item.active {
    border: 0;
    background-color: $resource-tab-active-bg;

    .tab-link {
      color: $white;
      font-weight: 600;

      .resource-label {
        width: $tab-width - $badge-width;
      }
    }
  }
}
