.left-nav {
  .resource-nav-list-group {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;

    // Templates have a different color than
    .template {
      .btn-primary {
        background-color: $reno-sand;
        border-color: $reno-sand;
      }
    }

    .btn-primary {
      background-color: $vanilla;
      border-color: $vanilla;
    }

    button {
      text-align: left; // Ensures the indent structure of the outline works when zoomed in.
    }

    li {
      list-style-type: none;
    }

    .left-nav-header {
      display: inline;
      margin-right: 0.4em;
    }

    .btn-link, .btn-primary {
      padding: 0.375rem 0;
    }

    .btn-link > .fa-circle {
      color: $body-color;
    }
  }
}
