/* Copyright 2020 Stanford University see LICENSE for license */

// Sinopia variables
$resource-tab-active-bg: $reno-sand;
$heading-icon-color: white;

$prop-heading-bg: $vanilla;
$prop-heading-color: black;
$prop-panel-bg: $pampas;

$lookup-value-bg: $swirl;
$lookup-value-border: $dusty-gray;

$lookup-search-result-bg: $pampas;
