/* Copyright 2020 Stanford University see LICENSE for license */

// Sinopia variables
$resource-tab-active-bg: $reno-sand;
$heading-icon-color: $blue;

$prop-heading-bg: $white;
$prop-heading-color: black;
$prop-panel-bg: $white;

$lookup-value-bg: $swirl;
$lookup-value-border: $nobel;

$lookup-search-result-bg: $pampas;
